<ons-page ng-controller="PistasCtrl">
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Pistas</div>
    </ons-toolbar>

 <ons-list>

        <ons-list-item modifier="chevron" class="list-item-container" onclick="myNavigator.pushPage('views/horarios.html', { param1: 'Frontón', param2: 'value2' })" ng-repeat="pista in pistas">
          <ons-row>
            <ons-col width="95px">
              <!-- <img src="img/location1.png" class="thumbnail"> -->
            </ons-col>
            <ons-col>
              <div class="name">
                {{pista.title}}
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> Paris, France
              </div>
              <div class="desc">
               <span class="notification">10</span>
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>
    </ons-list>
    
</ons-page>

